<div class="card widget-wrapper">
  <div class="widget-header">

    <span class="widget-header-fa-left"><i class="fa fa-th"></i></span>
    <span>{{title}}</span>
    <span class="widget-header-fa-right">
      <!-- <i class="fa fa-ellipsis-v"></i> -->
      <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </span>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6 b">
        <span class="d-block"><i class="fa fa-link"></i><a href="#">Contact Distributor / Service</a></span>
        <span class="d-block"><i class="fa fa-link"></i><a href="#">View Ice Resurfacer Operation Video</a></span>
      </div>
      <div class="col-6 c">
        <span class="d-block"><i class="fa fa-link"></i><a href="#">Web Resource Center</a></span>
        <span class="d-block"><i class="fa fa-link"></i><a href="#">View Conditioner Maintenance Video</a></span>
      </div>
    </div>
  </div>
</div>
