<div class="card widget-wrapper">
  <div class="widget-header">

    <span class="widget-header-fa-left"><i class="fa fa-th"></i></span>
    <span>{{title}}</span>
    <span class="widget-header-fa-right">
      <!-- <i class="fa fa-ellipsis-v"></i> -->
      <div class="dropdown">
        <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </span>
  </div>

  <div class="widget-top">
    <p class="h6-heading">Current</p>
    <div class="widget-date-code-description-wrapper">
      <span class="widget-date">FRI APR 23 3:05PM</span>
      <span class="widget-code-description">1219 Customer specified engine overspeed limit exceeded Loren</span>
    </div>
    <div class="widget-date-code-description-wrapper">
      <span class="widget-date">TUES APR 12 10:32AM</span>
      <span class="widget-code-description">1219 Customer specified engine overspeed limit exceeded Loren</span>
    </div>
  </div>

  <div class="widget-middle">
    <div class="widget-middle-line"><hr></div>
  </div>

  <div class="widget-bottom">
    <p class="h6-heading">History</p>
    <div class="widget-date-code-description-wrapper">
      <span class="widget-date">FRI APR 23 3:05PM</span>
      <span class="widget-code-description">1219 Customer specified engine overspeed limit exceeded Loren</span>
    </div>
    <div class="widget-date-code-description-wrapper">
      <span class="widget-date">TUES APR 12 10:32AM</span>
      <span class="widget-code-description">1219 Customer specified engine overspeed limit exceeded Loren</span>
    </div>
  </div>
</div>
